<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>View Source: .<%= @path %></title>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%= stylesheet_link_tag 'source' %>
</head>
<body>
  <div class="main">
  <div class="head">.<%= @path %></div>
  <img alt="" border="0" height="16" width="16"
      onClick="history.go(-1)" src="/images/back.gif" /> 
  <a href="javascript: void(0);" onClick="history.go(-1)">..</a><br/> 
  <% for entry in @entries 
       name = entry.getName
       reserved = name.equals('_ah') # now seems to be hidden
       kind = (reserved or entry.isDirectory) ? 'dir' : 'file'
       link = reserved ? '#' : @base + name
       onclick = "location.href='#{link}'" %>
    <img alt="" src="/images/<%= kind %>.gif" width='16' height='16'
        onclick="<%= onclick %>" border='0'>
    <a href="<%= link %>"><%= name %></a><br/>
  <% end %>
  </div>
</body>
</html>
