<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head><% ext = @path.substring(@path.lastIndexOf('.') + 1, @path.length) %>
  <title>View Source: .<%= @path %></title>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%= stylesheet_link_tag 'source' %>
  <%= stylesheet_link_tag 'sh_style' %>
  <%= javascript_include_tag "sh_main.min" %>
  <%= javascript_include_tag "lang/sh_#{ext}.min" %>
</head>
<body onload="sh_highlightDocument();">
  <pre class="sh_<%= ext %>"><%=h @content %></pre>
</body>
</html>
