<h1>Editing contact</h1>

<% f = form_for(@contact) %>
  <%= f.start_form %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :summary %><br />
    <%= f.text_area :summary %>
  </p>
  <p>
    <%= f.label :birthday %><br />
    <%= f.date_select :birthday %>
  </p>
  <p>
    <%= f.label :editor%><br />
    <%= f.select :editor, ['Vim','Emacs','TextMate','Other'] %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url, :size => '60' %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
  <%= f.end_form %>

<%= link_to 'Show', params.show %> |
<%= link_to 'Back', params.index %>
