<p>
  <b>Title:</b>
  <%=h @contact.title %>
</p>

<p>
  <b>Summary:</b>
  <%=h @contact.summary %>
</p>

<p>
  <b>Birthday:</b>
  <%=h @contact.birthday %>
</p>

<p>
  <b>Platform:</b>
  <%=h @contact.platform %>
</p>

<p>
  <b>Editor:</b>
  <%=h @contact.editor %>
</p>

<p>
  <b>Url:</b>
  <%=h @contact.url %>
</p>

<p>
  <b>Address:</b>
  <%=h @contact.address %>
</p>

<p>
  <b>Phone:</b>
  <%=h @contact.phone %>
</p>

<p>
  <b>Private:</b>
  <%= @contact.private %>
</p>

<%= link_to 'edit', resource(@contact, :edit) %> |
<%= link_to 'Back', resource(:contacts) %>
