<!DOCTYPE html>
<head>
  <meta charset=<%= @page_charset %> /> 
  <title>Contacts: <%= @params.action || 'index' %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<p style="color: green"><%= @flash_notice %></p>

<%= @page_content %>

</body>
</html>
